@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 129, 241;
  --background-end-rgb: 0, 178, 241;
}

canvas {
  display: block;
}

* {
  z-index: 1;
}

#tsparticles {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
